<div class="Home">
	<h1>Desayuno</h1>
	<p>El desayuno es la comida fundamental del día, ya que consumirlo o no, nos afecta de forma notable a corto y a largo plazo.

	Se ha demostrado que los niños que no desayunan o que solo toman un vaso de leche, rinden menos en el colegio que los que ingieren un desayuno adecuado.1

	Estudios recientes afirman que el desayunar ayuda a acelerar el metabolismo, lo cual es un factor beneficioso para prevenir la obesidad</p>
	<br />
	<p>
	En Argentina, Paraguay y Uruguay, se desayuna mate cocido, té, leche chocolatada o café con leche, jugo de naranja, con algo dulce:
	<ul>

		<li>medialunas (que, dulces o saladas, son parecidas a los croissants franceses)</li>
		<li>facturas (masas dulces, a veces con relleno de dulce de leche)</li>
		<li>pan con manteca, dulce o queso</li>
		<li>masitas dulces o saladas</li>
		<li>galletitas saladas, o tostadas.</li>
	</ul>
	También es común desayunar con unos mates (amargos o dulces) acompañados por galletitas de grasa o bizcochos (salados, de hojaldre).
	</p>

	<br />
	<p>
	En general, en Colombia el desayuno consta de pan o arepa y de una bebida caliente (chocolate o café); dependiendo de la zona y el clima se acompaña de otros alimentos.

	En la Costa Caribe hay una gran variedad de desayunos dada la influencia de otras culturas. Algunos alimentos de la cocina costeña que podrían conformar un desayuno son: 
	arepas, empanadas, pan, yuca cocida, ñame cocido, bollos, suero atollabuey, queso costeño, buñuelos, deditos de queso, casabe, chicharrón, patacón, tajadas de plátano verde, 
	ahuyama cocida, pasteles de arroz, carimañolas, almojábanas, hallacas, calentao, carne o hígado en bisté, pescado frito, chicharrón, embutidos (chorizo, butifarra, salchichón,
	morcilla, salchichas), cabeza de gato, arroz de lisa, huevos revueltos, en tortilla o duros, cruasán, sándwich de jamón y queso, jamón, hojaldres, etcétera. Entre las bebidas 
	se consumen el tinto (café negro), el café con leche, el chocolate, leche, agua de panela y jugos de frutas.
	</p>
</div>
